:root{
    --main-color: #295f4e;
}    

.main{
    background-color: var(--main-color);
   color: white;
}

.gretting{
    padding-top: 120px;
    font-size: 64px;
}
.my-name-about{
    font-size: 48px;
    padding-top: 20px;
    font-weight: 700;
}
.opacity{
    opacity: 0.7;
    font-size: 18px;
}

.my-name, .my-job, .gretting{
    text-align: center;
    margin: 0;
}

.my-name{
    font-size: 64px;
    font-weight: 600;
}
.my-job{
    font-size: 40px;
    opacity: 0.7;
}

.btn{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    margin: 20px;
}

.btn:hover{
   background-color: black; 
   color: white;
}
.app{
    text-align: center;
    font-size: 36px;
}

.frame{
    display: block;
    margin: 0 auto;
}


.highlight{
    text-align: center;
    font-size: 32px;
}

body{
    font-family: 'Sora', sans-serif;
}

.main-button{
    text-align: center;
}

.container{
    text-align: center;
}

.about-job{
    font-size: 22px;
}

p{
    font-size: 22px;
 
}

.link-to-github{
    text-align: center;
}

.github{
    font-size: 32px;
    color: var(--main-color);
}

.github:hover{
    color: black;
}

.certification{
    text-align: center;
    font-size: 40px;
}