:root{
    --main-color: #295f4e;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}    

.main{
    background-color: var(--main-color);
   color: white;
}

.add-shadow{
    box-shadow: var(--box-shadow);
}

.gretting{
    padding-top: 120px;
    font-size: 64px;
}
.my-name-about{
    font-size: 48px;
    padding-top: 20px;
    font-weight: 700;
}
.contact-container {
    text-align: center;
}

.contact-container i{
    font-size: 32px;
}

.contact-container a{
    color: var(--main-color);
    text-decoration: none;
}

.contact-container a:hover{
    color: black;
}

.opacity{
    opacity: 0.7;
    font-size: 18px;
}

.my-name, .my-job, .gretting{
    text-align: center;
    margin: 0;
}

.my-name{
    font-size: 64px;
    font-weight: 600;
}
.my-job{
    font-size: 40px;
    opacity: 0.7;
}

.btn{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    margin: 20px;
    box-shadow: var(--box-shadow);
}

.btn:hover{
   background-color: black; 
   color: white;
}
.app{
    text-align: center;
    font-size: 36px;
}

.frame{
    display: block;
    margin: 0 auto;
}


.highlight{
    text-align: center;
    font-size: 38px;
    font-weight: 600;
}

body{
    font-family: 'Sora', sans-serif;
}

.main-button{
    text-align: center;
}

.container{
    text-align: center;
}

.about-job{
    font-size: 22px;
}

p{
    font-size: 22px;
 
}

.footer-color{
    background-color: #f9f7fe;
    
    
}

.link-to-social{
    text-align: center;
}

.mail-link{
    text-decoration: none;
    font-size: 22px;
    color: var(--main-color);
}

.footer-link{
    font-size: 32px;
    color: var(--main-color);
    margin: 20px;
   
}

.mail-link:hover, .footer-link:hover{
    color: black;
}

.certification{
    text-align: center;
    font-size: 40px;
}